body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #f9e494;*/
  /*background-image: url("./assets/44754411-white-canvas-background-texture-closeup-denim-fabric-pattern.jpg");*/
  background-repeat: no-repeat;
  height:auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 960px) {
  .Header-container {
    width: 100%;
    height: 100px;
    margin-left: 10px;
    display: flex;
    justify-content: start;
    margin-top: 5px;
  }
  .table{
    color:white;
    padding:5px;
  }
  .container {
    width: 90%;
    height: 100px;
    background: white;
    color: black;
    font-family: 'Lobster Two', cursive;
    padding: 20px;
    display: flex;
    justify-content:center;
    margin-top: 5px;
    background:transparent;
    font-size: 50px;
    margin-left:50px;

  
  }
  .container-2 {
    height: 70px;
    width: 80%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table-container{
    display:flex;
    justify-content:center;
    align-content:center;
    margin:30px;
  }
  .Header-text {
    font-size: 100px;
    text-align: center;
    font-family: 'Lobster', cursive;
    margin: 10 -30 10 30;
  }

  .Search-Container {
    width: 100%;
    height: 100px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color:orange;
  }
  .Search-Container-2 {
    width: 60%;
    height: 15px;
    background-color: gray;
    color: black;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border-color: #f9e494;
    border-radius: 1%;
  }
  
  .Search-Input {
    width: 910px;
    height: 40px;
    margin-top: -45px;
    background: transparent;
    border-radius: 1%;
    font-size: 25px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    border: none;
    color:black;
  }
  .Footer-Container {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    bottom: 30px;
    margin-top: 10px;
     color:orange
  }
  .Footer-Container-2 {
    width: 90%;
    height: 10px;
    
    color:orange;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  
    font-size: 18px;
  }
  .href-color {
    color: grey;
  }
}

.Books-Container {
  width: 90%;
  height: 300px;
  background-color: white;
  margin-left: 80px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.Book-Card{
  width:400px;
  height: 450px;
 /* background-color:rgb(197, 145, 154);*/
  margin:1px;
}
.Books-Column {
  width: 400px;

  /*background-color:#b3dcff;*/
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-self: center;

}
.cont {
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 1%;
}

.img {
  width:350px;
  height: 380px;
  display: flex;
  justify-content: center;
  margin-left: 95px;
  border-radius: 50%;
  background:#afa939;
}
.form-title{
  color:black;
  font-size:30px;
  align-center:center;
  margin-top:50%;
  text-direction:none;
  text-align:center;
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-family: Arial;
  color: black;
  top:0px;
  
  
}


.button-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
}

.spinner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10%;
}

.active-container {
  background-color: rgb(230, 230, 230);
  width: 800px;
  height: 500px;
  margin-top: 10%;
  margin-left: 27%;
  justify-content: center;
  display:flex;
  align-items:center;
   
}
.book-container {
  display: inline-block;
  background-color:grayscale;
  margin:0px;
}

.active-information-container {
  
  display: inline-block;
  height: 500px;
  width: 380px;
  
  margin: 0 ;
  margin-left:10px;
  
}

.active-img{
  width:400px;
  height: 500px;
  border-radius:2%;
}

  .home-container{
    display:flex;
    justify-content: start;
    align-items:center;
    margin-top:auto;
    margin-left:7%;
    color:white;
    width:10px;
    
  }
  
  .button{
    width:80px;
    height: 35px;
    margin-left:90px;
    background-color:#f87387;
    border: 1px solid rgb(238, 150, 165);


  }

.btn-1 {
    padding: 14px 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #FF7F00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #bbb;
      margin-left:70px;
      
      
}
 
.btn-1:hover {
    background-color: #FF7F00;
    color:black;
}
 
.btn-1:active {
    background-color:#FF7F00;
    box-shadow: 0 3px #444;
    color:black;
    transform: translateY(3px);
}
.btn-2 {
    padding: 14px 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #FF7F00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #bbb;
     margin-top:60%;
    margin-left:27%;
  
   
}
 
.btn-2:hover {
    background-color: #FF7F00;
    color:black;
}
 
.btn-2:active {
    background-color:#FF7F00;
    box-shadow: 0 3px #444;
    transform: translateY(3px);
    color:black;
}
.main{
  position: absolute;
  transform:translate(-50%,-50%);
  left:50%;
  top:150px;
  border:0px transparent;
  color:orange;
}
input{
  border:1px solid blue;
  height: 40px;
  width: 10px;
  border-radius: 50px;
  padding:0px 10px;
  border:transparent;
  text-align:end;
  color:white;

 
}
input:focus{
   border:transparent;
}
@media only screen and (min-width: 769px) and (max-width: 959px) {
  .Header-container {
    width: 95%;
    height: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
  }

  .container {
    width: 90%;
    /*background:#00ad45;*/
    color: #fff;
    font-family: 'Lobster', cursive;
    margin: 20px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .Header-text {
    font-size: 75px;
    text-align: center;
    font-family: 'Damion', cursive;
    margin: 5 -10 5 50;
  }
  .container-2 {
    height: 70px;
    width: 80%;
    margin-left: 60px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #1d1e22;
    font-family: 'Lobster', cursive;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .Search-Container-2 {
    width: 85%;
    height: 15px;
    background: grey;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-left: 27px;
  }
  .Search-Input {
    width: 710px;
    height: 40px;
    margin-top: -45px;
    background: transparent;
    border: none;
    font-size: 19px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    margin-left: 25px;
  }
  .Footer-Container {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    margin-top: 250px;
  }
  .Footer-Container-2 {
    width: 86%;
    height: 15px;
    background: grey;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -3px;
    margin-right: 10px;
    color: #1d1e22;
  }
  .href-color {
    color: #FF7F00;
  }
  .home-container{
    display:flex;
    justify-content: center;
    margin-top:25px;
  }
  .home-button{
      height:30px;
      width:60px;
      background-color: #f9e494;
  }
}

@media only screen and (max-width: 768px) {
  .Header-container {
    width: 95%;
    height: 50px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    font-size: 15px;
  }
  .container {
    width: 90%;
    height: 50px;

    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 20px;
  }
  .container-2 {
    height: 70px;
    width: 80%;
    margin-top: -30px;
    color: #1d1e22;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .Header-text {
    font-size: 45px;
    text-align: center;
    font-family: 'Damion', cursive;
    margin: 5 -10 5 50;
  }
  .Search-Container-2 {
    width: 82%;
    height: 10px;
    background-color: grey;
    color: black;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-left: 15px;
  }
  .Search-Input {
    width: 350px;
    height: 40px;
    margin-top: -35px;
    background: transparent;
    border: none;
    font-size: 19px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
  }
  .Footer-Container {
    width: 97%;
    height: 15px;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 10px;
  }
  .Footer-Container-2 {
    width: 90%;
    height: 15px;
    background: rgb(216, 213, 213);
    color: #fff;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: #1d1e22;
  }
  .href-color {
    color: #FF7F00;
  }
  .Books-Container {
  width: 90%;
  height: 400px;
  background-color: white;
  margin-left: 200px;
  margin-top: 201px;
  display: flex;
  flex-direction: column;

}
.Book-Card{
  width:450px;
  height: 550px;
 /* background-color:rgb(197, 145, 154);*/
  margin:1px;
}
.News-Column {
  width: 400px;
  height: 495px;
  /*background-color:#b3dcff;*/
  border-radius: 10%;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-self: center;

}
.cont {
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 5%;
   margin-top:50px;
 
}

.img {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  border-radius: 10%;
  margin-top: 150px;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  margin-right:50%;
  margin-top:10%;
}


.button-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
}
.button-search {
  width: 200px;
  height: 50px;
  background-color: #FF7F00;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 20px;
}

.spinner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10%;
}

.active-container {
  background-color: rgb(230, 230, 230);
  width: 800px;
  height: 600px;
  margin-top: 300px;
  margin-left: 100px;
  justify-content: center;
}
.book-container {
  display: inline-block;
}

.active-information-container {
  
  display: inline-block;
  height: 500px;
  width: 380px;
  
}

.active-img{
  width:140px;
  height: 170px;
  border-radius:2%;
}

  .home-container{
    display:flex;
    justify-content: center;
    margin-top:-85%;
    margin-right: 30%;
  }
  .home-button{
      height:40px;
      width:100px;
      background-color: #f9e494;
      border:1px solid #f9e494;
      border-radius: 5%;
      text-align: center;
      color: black;
  }
  .home-button{
    color:black;
  }
  .button{
    width:80px;
    height: 35px;
    margin-left:90px;
    background-color:#FF7F00;
    border: 1px solid #FF7F00;

  }
.btn-1 {
    padding: 14px 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #FF7F00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #bbb;
      margin-left:0px;
}
 
.btn-1:hover {
    background-color: #FF7F00;
    color:black;
}
 
.btn-1:active {
    background-color:#FF7F00;
    box-shadow: 0 3px #444;
    color:black;
    transform: translateY(3px);
}
.btn-2 {
    padding: 14px 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #FF7F00;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #bbb;
   
      
}
 
.btn-2:hover {
    background-color: #FF7F00;
    color:black;
}
 
.btn-2:active {
    background-color:#FF7F00;
    box-shadow: 0 3px #444;
    transform: translateY(3px);
    color:black;
}
.main{
  position: absolute;
  transform:translate(-50%,-50%);
  left:50%;
  top:20%;
  border:0px transparent;
   margin-top: 20px;

}
input{
  border:0px transparent;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding:0px 10px;
  border:transparent;
}
input:focus{
   border:transparent;
}
}
